[submodule "chaincoreext/account_abstraction/contract"]
	path = chaincoreext/account_abstraction/contract
	url = https://github.com/artela-network/account-abstraction.git
	branch = feat/aspect-enabled-wallet
